@import "tailwindcss";
@import "tw-animate-css";
@import "@zayne-labs/ui-react/css/preset.css";

/* ------------------*/
/* App Colors        */
/*-------------------*/
@theme {
	/* Primary Colors */
	--color-vitastock-primary: #004ac6;
	--color-vitastock-primary-darker: #003ea8;
	--color-vitastock-primary-lighter: #2563eb;
	--color-vitastock-primary-subtle: #dbe1ff;

	/* Secondary Colors */
	--color-vitastock-secondary: #e7e8e9;
	--color-vitastock-secondary-darker: #737888;
	--color-vitastock-secondary-lighter: #edeeef;
	--color-vitastock-secondary-subtle: #f3f4f5;

	/* State Colors */
	--color-vitastock-error: #ba1a1a;
	--color-vitastock-error-light: #ffb4ab;
	--color-vitastock-warning: #eab308;
	--color-vitastock-warning-light: #fef08a;
	--color-vitastock-info: #3b82f6;
	--color-vitastock-info-light: #93c5fd;
	--color-vitastock-success: #22c55e;
	--color-vitastock-success-light: #86efac;

	/* Dark Shades */
	--color-vitastock-dark-1: #191c1d;
	--color-vitastock-dark-2: #2e3132;
	--color-vitastock-dark-3: #434655;
	--color-vitastock-dark-4: #737680;

	/* Light Shades */
	--color-vitastock-light-1: #d9dadb;
	--color-vitastock-light-2: #efe3e4;
	--color-vitastock-light-3: #f3f4f5;
	--color-vitastock-light-4: #f8f9fa;
}

/* ------------------*/
/* Main Theme        */
/*-------------------*/
@theme {
	/*--- Breakpoints ---*/
	--breakpoint-*: initial;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1000px;
	--breakpoint-xl: 1280px;

	/*--- Fonts ---*/
}

/* ------------------*/
/* Shadcn Theme      */
/*-------------------*/
@theme {
	--color-shadcn-background: hsl(0, 0%, 100%);
	--color-shadcn-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-primary: hsl(222.2, 47.4%, 11.2%);
	--color-shadcn-primary-foreground: hsl(210, 40%, 98%);

	--color-shadcn-secondary: hsl(210, 40%, 96.1%);
	--color-shadcn-secondary-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-popover: hsl(0, 0%, 100%);
	--color-shadcn-popover-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-accent: hsl(210, 40%, 96.1%);
	--color-shadcn-accent-foreground: hsl(222.2, 47.4%, 11.2%);

	--color-shadcn-muted: hsl(210, 40%, 96.1%);
	--color-shadcn-muted-foreground: hsl(215.4, 16.3%, 46.9%);

	--color-shadcn-input: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-border: hsl(214.3, 31.8%, 91.4%);
	--color-shadcn-ring: hsl(215, 20.2%, 65.1%);

	--color-shadcn-destructive: hsl(0 100% 50%);
	--color-shadcn-destructive-foreground: hsl(210 40% 98%);

	--color-shadcn-sidebar: oklch(0.985 0 0);
	--color-shadcn-sidebar-foreground: oklch(0.145 0 0);
	--color-shadcn-sidebar-primary: oklch(0.205 0 0);
	--color-shadcn-sidebar-primary-foreground: oklch(0.985 0 0);
	--color-shadcn-sidebar-accent: oklch(0.97 0 0);
	--color-shadcn-sidebar-accent-foreground: oklch(0.205 0 0);
	--color-shadcn-sidebar-border: oklch(0.922 0 0);
	--color-shadcn-sidebar-ring: oklch(0.708 0 0);

	--color-sonner-success-bg: hsl(150, 100%, 6%);
	--color-sonner-success-text: hsl(150, 100%, 90%);
	--color-sonner-success-border: hsl(147, 100%, 12%);

	--color-sonner-error-bg: hsl(358, 76%, 10%);
	--color-sonner-error-text: hsl(358, 100%, 81%);
	--color-sonner-error-border: hsl(357, 89%, 16%);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-collapsible-down: collapsible-down 0.2s ease-in-out;
	--animate-collapsible-up: collapsible-up 0.2s ease-in-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes collapsible-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-collapsible-content-height);
		}
	}

	@keyframes collapsible-up {
		from {
			height: var(--radix-collapsible-content-height);
		}
		to {
			height: 0;
		}
	}
}

/* ------------------*/
/* Custom Properties */
/*-------------------*/
@layer base {
	:root {
		--chart-1: oklch(0.646 0.222 41.116);
		--chart-2: oklch(0.6 0.118 184.704);
		--chart-3: oklch(0.398 0.07 227.392);
		--chart-4: oklch(0.828 0.189 84.429);
		--chart-5: oklch(0.769 0.188 70.08);
	}

	.dark {
		--chart-1: oklch(0.488 0.243 264.376);
		--chart-2: oklch(0.696 0.17 162.48);
		--chart-3: oklch(0.769 0.188 70.08);
		--chart-4: oklch(0.627 0.265 303.9);
		--chart-5: oklch(0.645 0.246 16.439);
	}
}

/* ------------------*/
/* General CSS Reset */
/*-------------------*/
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border-color: var(--border);
	}

	html {
		height: 100%;
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: transparent;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		min-height: 100%;
		line-height: 1.5;
		font-family: var(--font-geist-sans);
		color: var(--foreground);
		background-color: var(--background);
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button:not(:disabled) {
		cursor: pointer;
	}
}

@utility custom-scrollbar {
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background-color: hsl(0, 0%, 76%);
		border-radius: 10px 10px 0 0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: hsl(0, 0%, 39%);
		border: 1px solid hsl(0, 0%, 76%);
		border-radius: 10px;
	}
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}
